<app-navbar></app-navbar>

<div class="container">

    <div *ngFor="let message of messages">
        {{message.message}}
    </div>

    <form name="form" (ngSubmit)="f.form.valid && sendMessage()" #f="ngForm" 
    novalidate>
        <fieldset>
          <legend>Send Message</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <input type="text" name="message" [(ngModel)]="model.message" 
            #message="ngModel" class="form-control" placeholder="Enter Message">
            <div *ngIf="f.submitted && message.invalid" class="alert alert-danger">
                <div *ngIf="message.errors.required">message is required</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Send</button>
        </fieldset>
      </form>
</div>